{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price(UGX)</th>
            <th scope="col">Detail</th>
        </tr>
    </thead>
    {% for player in players %}
    <tbody>
        <tr>
            <td>{{player.player_name}}</td>
            <td>{{player.player_name}}</td>
            <td>{{player.player_name}}</td>
            <td>{{player.player_name}}</td>
            <td>{{ player.player_image }}</td>
            <td><a href="#"><input type="submit" value="BUY ITEM"
                        class="btn btn-secondary btn" type="button" /></a></td>
            <td><a href="#"><input type="submit" value="DELETE ITEM"
                        class="btn btn-secondary btn" type="button" /></a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>

{% endblock %}
